<h1>Avaliações</h1>
<table>
  <thead>
    <th>Disciplina</th>
    <th>Período</th>
    <th>Avaliação</th>
  </thead>
  <tbody>
    <% @reviews.each do |review| %>
    <tr>
      <td><%= review.unit.title %>
      <td><%= "#{review.year} - #{review.semester} Semestre" %>
      <td><%= review.rating %>
    </tr>
    <% end %>
  </tbody>
</table>
